


body{
	background-image: url(old_map.png);
}

#biographie {
	border: 2px dashed #CC0001;
	border-radius: 15px;
	margin-top: 150px;
	font-size: 1.6em;
	text-align: center;
	background-color: white;

}

#trouver {
	background-image: url(alu_dark.png);
	width: 100%;
}




.thumbnail {
	height: 318px;
	font-family : 'Reenie Beanie', cursive;
	border : 0px;
}


.btn {

}

.menu{
	border: 3px dashed #CC0001;
	border-radius: 15px;
	margin-top: 25px;
	background-color: white;
}

.menu .row{
	border: 1px dotted #CC0001;
	border-radius: 10px;
	margin-left: 25px;
	margin-right: 10px;
	margin-bottom: 10px;

}

.des_pizza h3{
	font-weight: bold;
}

.prix p{
	border: 1px dotted #CC0001;
	height: 65px;
	border-radius: 6px;
	margin-top: 10px;
	text-align: center;
	line-height: 60px;
}

.menu .titre_menu{
	color: #CCCB00;
	border: 0px;
}