


body{
	background-image: url(old_map.png);
}
































.thumbnail {
	height: 318px;
	font-family : 'Reenie Beanie', cursive;
	font-size: 1,5em;
	border : 0px;
}


.btn {


}





